// Frames
.frame-z1 {
  box-shadow: $shadow-z1;
  z-index: 1;
}

.frame-z2 {
  box-shadow: $shadow-z2;
  z-index: 2;
}

.frame-z3 {
  box-shadow: $shadow-z3;
  z-index: 3;
}

.frame-z4 {
  box-shadow: $shadow-z4;
  z-index: 4;
}

.frame-z5 {
  box-shadow: $shadow-z5;
  z-index: 5;
}

// Color styles
.d2-color-default {
  background-color: $default-bg-color;
  color: $default-text-color;
}

.d2-color-primary {
  background-color: $primary-bg-color;
  color: $primary-text-color;
}

.d2-color-success {
  background-color: $success-bg-color;
  color: $success-text-color;
}

.d2-color-error {
  background-color: $error-bg-color;
  color: $error-text-color;
}

.d2-color-dark {
  background-color: $secondary-bg-color;
  color: $secondary-text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

button, a, li {
  &.d2-color-default:hover {
    background-color: $default-hover-bg-color;
    color: $default-hover-text-color;
  }

  &.d2-color-primary:hover {
    background-color: $primary-hover-bg-color;
    color: $primary-hover-text-color;
  }

  &.d2-color-success:hover {
    background-color: $success-hover-bg-color;
    color: $success-hover-text-color
  }

  &.d2-color-error:hover {
    background: $error-hover-bg-color;
    color: $error-hover-text-color;
  }
}

//Form fields
.d2-form {
  @extend .frame-z1;
  margin: 3rem;

  .d2-form-fields {
    padding: 1rem 3rem 3rem;
  }

  .form-actions {
    @include container();

    .d2-button {
      width: 50%;
      text-align: center;
      float: left;
      height: 3rem;
      line-height: 2.5rem;
    }
  }
}

.d2-form-fields-head {
  @extend .d2-color-dark;
}

//Loader spinner
$green: #008744;
$blue: #0057e7;
$red: #d62d20;
$yellow: #ffa700;

$width: 100px;
$zoom: 1.7;

.loader {
  position: relative;
  margin: 0px auto;
  padding-top: 3rem;
  width: $width;
  height: $width;
  zoom: $zoom;
}

.circular {
  animation: rotate 2s linear infinite;
  height: $width;
  position: relative;
  width: $width;
}


.path {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  animation:
  dash 1.5s ease-in-out infinite,
  color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate{
  100%{
    transform: rotate(360deg);
  }
}
@keyframes dash{
  0%{
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50%{
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100%{
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}
@keyframes color{
  100%, 0%{
    stroke: $red;
  }
  40%{
    stroke: $blue;
  }
  66%{
    stroke: $green;
  }
  80%, 90%{
    stroke: $yellow;
  }
}
