$input-border-color: rgba(0, 0, 0, 0.3);
$input-label-filled: rgba(0, 0, 0, 0.6);
$input-label-color: $input-border-color;
$input-label-color-light: rgba(255,255,255, 0.3);

@mixin placeholderColor($value) {
  ::-webkit-input-placeholder {
    font-weight: 300;
    color: $value
  }

  ::-moz-placeholder {
    font-weight: 300;
    color: $value
  }

  :-ms-input-placeholder {
    font-weight: 300;
    color: $value
  }

  :-moz-placeholder {
    font-weight: 300;
    color: $value
  }
}

.d2-input {
  display: inline-block;
  position: relative;
  font-size: 1rem;
  padding-top: 1em;
  margin-top: 1em;
  width: 20em;
  vertical-align: bottom;
  @include placeholderColor(transparent);

  .d2-color-dark & {
    label {
      color: $input-label-color-light;
    }

    input[type="text"],
    input[type="password"],
    input[type="number"],
    input[type="email"],
    textarea {
      border-color: $input-label-color-light;

      &:-webkit-autofill {
        -webkit-box-shadow:0 0 0 50px $secondary-bg-color inset;
        -webkit-text-fill-color: inherit;
      }
      &:-webkit-autofill:focus {
        -webkit-box-shadow: 0 0 0 50px $secondary-bg-color inset;
        -webkit-text-fill-color: inherit;
      }
    }
  }

  &.large {
    font-size: 1.25rem;
  }

  &.huge {
    font-size: 1.75rem;
  }

  label {
    @include transition($focus-transition);
    color: $input-label-color;
    font-size: 1em;
    position: absolute;
    top: 1.3em;
    left: 0;
    padding-left: 2px;
    background: transparent;

    i.input-required-icon {
      color: rgba(255, 0, 0, .75);
      font-size: .5em;
      vertical-align: super;
      margin-left: .5em;
    }
  }

  input[type="text"],
  input[type="password"],
  input[type="number"],
  input[type="email"],
  select,
  textarea {
    padding: 8px 2px;
    padding-bottom: 3px;
    background: transparent;
    border: solid $input-label-color;
    border-width: 0 0 1px 0;
    outline: none;
    font-size: 1em;
    width: 100%;
    z-index: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:-webkit-autofill {
      -webkit-box-shadow:0 0 0 50px #FFF inset;
      -webkit-text-fill-color: inherit;
    }
    &:-webkit-autofill:focus {
      -webkit-box-shadow: 0 0 0 50px #FFF inset;
      -webkit-text-fill-color: inherit;
    }
  }

  textarea {
    width: 30em;
    height: 5em;
  }

  select {
    border-radius: 0;
  }

  &.d2-input-type-select {
    .d2-select-loading-indicator {
      position: absolute;
      top: 50%;
      left: -1rem;
    }
  }

  &.d2-input-type-select:after {
    content: '';
    width: 0;
    height: 0;
    border-left: .6rem solid transparent;
    border-right: .6rem solid transparent;
    border-top: .6rem solid $input-label-color;
    position: absolute;
    right: 0;
    top: 50%;
  }


  &.d2-input-focused, &.d2-input-has-content {
    label {
      font-size: .8em;
      top: 0;

      color: $input-label-filled;

      .d2-color-dark & {
        color: $input-label-color-light;
      }
    }

    @include placeholderColor($input-label-color);
  }

  &.d2-input-focused {
    .d2-color-dark & {
      @include placeholderColor($input-label-color-light);
    }

    label {
      color: $primary-bg-color;

      i.input-required-icon {
        color: rgba(255, 0, 0, .75);
      }

      .d2-color-dark & {
        color: $secondary-hover-text-color;
      }
    }

    input[type="text"],
    input[type="password"],
    input[type="number"],
    input[type="email"],
    textarea,
    select {
      border-color: $primary-bg-color;
      border-width: 0 0 2px 0;
      padding-bottom: 2px;

      .d2-color-dark & {
        border-color: $secondary-hover-text-color;
      }
    }
  }
}

.d2-field-checkbox {
  input[type=checkbox] {
    position: absolute;
    left: -9999px;
  }

  label {
    padding-bottom: 2rem;
    z-index: 2;
  }
}

.d2-checkbox:before {
  content: "\f096";
  display: block;
  font-size: 2rem;
  padding: .5rem 0;
  z-index: 1;
  color: rgba(0, 0, 0, 0.6);
  transform: rotate3D(0, 0, 1, 180deg) rotate3D(0, 1, 0, 180deg) rotate3D(1, 0, 0, 180deg);
  transition: transform .4s, color .4s;

  .d2-field-checkbox input:checked + & {
    content: "\f14a";
    color: #3489c8;
    transform: rotate3D(0, 0, 1, 0deg) rotate3D(0, 1, 0, 0deg) rotate3D(1, 0, 0, 0deg);
    transition: transform .4s, color .4s;
  }
}
