.d2-select-from-list {
  @extend .container;
  overflow: visible;

  & > div.available {
    @include span(1 of 2);
  }

  & > div.selected {
    @include span(1 of 2 last);
  }

  ul {
    position: relative;
    padding-left: 0;
  }

  li {
    position: relative;
    list-style: none;
    cursor: pointer;
    border-bottom: 1px solid $input-border-color;
    padding: 2px 5px;
  }

  li.ng-leave.ng-leave-active,
  li.ng-move,
  li.ng-enter {
    opacity: 1;
    //transform: translateX(-300px);
    animation: openSpace 0.2s ease reverse,
    moveOut 0.3s 0.2s ease forwards;
    -webkit-animation: openSpace 0.2s ease reverse,
    moveOut 0.3s 0.2s ease forwards;
  }

  li.ng-leave,
  li.ng-move.ng-move-active,
  li.ng-enter.ng-enter-active {
    max-height: 0;
    opacity: 0;
    transform: translateX(-300px);
    animation: openSpace 0.2s ease forwards,
    moveIn 0.3s 0.2s ease forwards;
    -webkit-animation: openSpace 0.2s ease forwards,
    moveIn 0.3s 0.2s ease forwards;
  }

  @keyframes openSpace {
    to {
      max-height: 50px;
    }
  }
  @keyframes moveIn {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes moveOut {
    to {
      max-height: 0;
      opacity: 0;
      transform: translateX(300px);
    }
  }
  @-webkit-keyframes openSpace {
    to {
      max-height: 50px;
    }
  }
  @-webkit-keyframes moveIn {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @-webkit-keyframes moveOut {
    to {
      max-height: 0;
      opacity: 0;
      transform: translateX(300px);
    }
  }
}
