@import "compass/css3/animation";

@include keyframes(rippleAnimation) {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0.4;
  }
  to {
    -webkit-transform: scale(5);
    transform: scale(5);
    opacity: 0;
  }
}

@include keyframes(openSpace) {
  from {
    max-height: 0;
  }
  to {
    max-height: 50px;
  }
}


@include keyframes(moveInSelected) {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@include keyframes(moveInAvailable) {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@include keyframes(moveOutSelected) {
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@include keyframes(moveOutAvailable) {
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

.ripple-effect {
  position: relative;
  overflow: hidden;
}

.ripple-effect-container {
  border-radius: 100%;
  display: block;
  background-color: $ripple-effect-color;
  position: absolute;
  width: 100px;
  height: 100px;
  opacity: 0.3;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  pointer-events: none;
  z-index: 0;
}

.ripple-effect-container.ripple-animate {
  animation: rippleAnimation 1.6s;
  -webkit-animation: rippleAnimation 1.6s;
}