@import "normalize";
@import "compass";
@import "breakpoint";
@import "susy";

/* General */
@import "d2-angular/variables";
@import "d2-angular/mixins";
@import "d2-angular/animations";
@import "d2-angular/layout";

/* Components */
@import "d2-angular/button/button";
@import "d2-angular/input/input";
@import "d2-angular/table/table";
@import "d2-angular/sidenav/sidenav";
@import "d2-angular/header/header";
@import "d2-angular/select-from-list/select-from-list";

/* Angular */
@import "d2-angular/input/ng-form";

@import "d2-angular/base";

html {
  font-size: $default-font-size;
  font-family: $font-family;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
